@import "../../variables";

.reviews__container {
  background-color: $color-gray-light;
  width: 100%;
  height: 600px;
  @include flex-center;

  @media (max-width: 768px) {
    height: max-content;
  }
}

.reviews {
  @include flex-center;
  width: clamp(300px, 100%, 1300px);

  & .reviews__btnPrev,
  & .reviews__btnNext {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    &:hover {
      & svg {
        fill: $color-accent-dark;
      }
    }
    & svg {
      fill: $color-accent;
    }
  }
  & .reviews__btnNext {
    transform: rotate(180deg);
  }

  & .review__details {
    @include flex-column-center;
    justify-content: space-between;
    width: 600px;

    & .review__subtitle {
      @include text-small-caps;
      color: $color-accent;
      & p {
        margin-top: 0;
      }
    }

    & .review__title {
      & h3 {
        @include text-h3;
        margin: 0;
      }
    }

    & .review__text {
      color: $color-gray;
      font-family: Helvetica;
      font-size: 18px;
      text-align: center;
      line-height: 32px;
      p {
        margin-bottom: 0;
      }
    }

    & .review__author {
      font-family: "Roboto";
      font-size: 13px;
      color: $color-gray;
      text-align: center;
    }

    & button {
      margin-top: 10px;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }

  @media (max-width: 768px) {
    width: clamp(300px, 100%, 768);
    padding-top: 50px;
    padding-bottom: 50px;
    & .reviews__btnPrev,
    & .reviews__btnNext {
      height: 50px;
      cursor: pointer;
      margin-left: 2.5%;
      margin-right: 2.5%;
      &:hover {
        & svg {
          fill: $color-accent-dark;
        }
      }
      & svg {
        height: 50px;
        fill: $color-accent;
      }
    }

    & button {
      content: "FAQ";
    }

    & .review__title {
      & h3 {
        font-size: 24px;
      }
    }
  }

  @media (max-width: 350px) {
    & .reviews__btnPrev,
    & .reviews__btnNext {
      height: 30px;
      & svg {
        width: 30px;
        height: 30px;
      }
    }
    & .reviews__btnPrev {
      margin-right: -2.5%;
    }
    & .reviews__btnNext {
      margin-left: -2.5%;
    }
  }
}
