@import "../../variables";

.gallery {
  @include flex-column-center;
  width: 100%;
  & .gallery__title {
    margin-top: 50px;
    & h3 {
      @include text-h3;
    }
  }
  overflow: hidden;
  & .gallery__images {
    @include flex-center;
    flex-wrap: wrap;
    // width: clamp(300px)
    & img {
      width: 310px;
      margin: 10px;

      &:last-child {
        margin-right: none;
      }
    }
  }

  & .gallery__cta button {
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }

  @media (max-width: 450px) {
    & .gallery__images {
      flex-direction: column;
      width: clamp(200px, 80vw, 310px);

      & img {
        width: clamp(200px, 80vw, 310px);
        margin-left: 0;
        margin-right: 0;
        object-fit: contain;
      }
    }
  }
}
