$color-white: #fff;
$color-gray: #777777;
$color-dark: #222222;
$color-accent: #d4b254;
$color-accent-dark: #c8a74b;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-small-caps {
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

@mixin transition-all {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
