$color-white: #fff;
$color-gray: #777777;
$color-gray-light: #eeeeee;
$color-dark: #222222;
$color-accent: #d4b254;
$color-accent-dark: #c8a74b;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center {
  @include flex-center;
  flex-direction: column;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-small-caps {
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}
@mixin text-h3 {
  color: $color-dark;
  font-family: "Helvetica-Bold";
  font-size: 32px;
  text-align: center;
  line-height: 42px;
}

@mixin transition-all {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
