@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Helvetica);
@import url(https://pro.fontawesome.com/releases/v5.0.10/css/all.css);
@import "./variables";

@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold"),
    url("./assets/fonts/Helvetica-Bold.ttf") format("woff");
  // font-display: swap;
}

html,
body {
  margin: 0 !important;
  font-family: "Roboto", Helvetica, "Helvetica-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & *::selection {
    background: $color-accent;
    color: $color-white;
    text-shadow: none;
  }

  & button:focus {
    outline: none;
  }

  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track,
  & *::-webkit-scrollbar-track {
    background-color: $color-accent;
  }
  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    background: $color-dark;
    border-radius: 10px;
    border: 2px;
    margin: 5px;
  }
}
